<!DOCTYPE html>
<html>
<head>
	<title>Dashboard | Vehicle Track</title>

	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">  
    

</head>
<body>
	<div class="container">

		<h1>Dashboard</h1>
		<div id="questionlist" ></div>
		<div id="questionform" ></div>

	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script> 

    <script type="text/javascript" src='socket.io/socket.io.js'></script>

    <script type="text/jsx">
    	var socket = io('http://ramrodeals.com:3000');

    	socket.emit('test', {'name':'test', 'description': 'This is the testing'});

    	socket.on('test', function (data) {
    		console.log(data);
    	});
    	var questionlist = [];
    	socket.on('question_data', function (data) {
    		questionlist.push(data);
    		React.render(<QuestionList qlist={questionlist} />, document.getElementById('questionlist'));

    	});

    	var QuestionList = React.createClass({
        	
            render: function(){
                return(
                        <div>
                            {this.props.qlist.map(function (option){
                                return(
                                    <div key={option.question}>
                                    	<div className='row'>
		                                    <div className='col-md-10'>
		                                    	{option.question}: {option.detail}
		                                    </div>
		                                 
			                            </div>
                                    </div>
                                );
                            })}
                        </div>
                    );
            }
        });

    	var QuestionForm = React.createClass({
    		saveQuestion: function() {
    			var question = this.refs.question.getDOMNode();
                var detail = this.refs.detail.getDOMNode();
                var data = {
                	'question': question.value,
                	'detail': detail.value 
                }
                socket.emit('question_data', data);
                question.value = '';
                detail.value = '';
    		},
    		render: function(){
                return(
                    <div>
	                    <p className="form-group">
	                        Question: 
	                        <input type='text' className="form-control" name='question' ref='question' />
	                        
	                        Detail:
	                        <textarea  id='qdetail' className="form-control" name='detail' ref='detail' />
	                     	
	                    </p>
	                    <button onClick={this.saveQuestion} className="btn btn-primary">Save Question</button>
                    </div>
                        
                    
                );
            }
    	});

    	React.render(<QuestionForm />, document.getElementById('questionform'));

    </script>
</body>
</html>